# Data Cleaning

In [2]:
import pandas as pd

## Total GHG Dataset

In [3]:
total_ghg = pd.read_csv('datasets/factors/total-ghg-emissions.csv')

In [4]:
total_ghg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35226 entries, 0 to 35225
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Entity                           35226 non-null  object
 1   Code                             34200 non-null  object
 2   Year                             35226 non-null  int64
 3   Annual greenhouse gas emissions  35226 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.1+ MB

In [5]:
total_ghg_country = total_ghg[[len(str(x)) == 3 for x in total_ghg['Code']]]

In [6]:
total_ghg_without_iso = total_ghg_country[total_ghg_country['Code'].isna()]

In [7]:
total_ghg_world = total_ghg[total_ghg['Entity'] == 'World']

In [8]:
total_ghg_country = total_ghg_country.dropna()

In [9]:
total_ghg_country

            Entity Code  Year  Annual greenhouse gas emissions
0      Afghanistan  AFG  1851                        7373214.5
1      Afghanistan  AFG  1852                        7422393.5
2      Afghanistan  AFG  1853                        7483595.5
3      Afghanistan  AFG  1854                        7532321.0
4      Afghanistan  AFG  1855                        7580708.5
...            ...  ...   ...                              ...
35221     Zimbabwe  ZWE  2017                       37999464.0
35222     Zimbabwe  ZWE  2018                       39079344.0
35223     Zimbabwe  ZWE  2019                       38701420.0
35224     Zimbabwe  ZWE  2020                       37733230.0
35225     Zimbabwe  ZWE  2021                       38060004.0

[34029 rows x 4 columns]

In [10]:
total_ghg_without_iso

        Entity Code  Year  Annual greenhouse gas emissions
855    Annex I  NaN  1851                     2.269137e+09
856    Annex I  NaN  1852                     2.301952e+09
857    Annex I  NaN  1853                     2.354308e+09
858    Annex I  NaN  1854                     2.428702e+09
859    Annex I  NaN  1855                     2.445340e+09
...        ...  ...   ...                              ...
23764     OECD  NaN  2017                     1.559025e+10
23765     OECD  NaN  2018                     1.568621e+10
23766     OECD  NaN  2019                     1.532443e+10
23767     OECD  NaN  2020                     1.416157e+10
23768     OECD  NaN  2021                     1.478845e+10

[1026 rows x 4 columns]

In [11]:
total_ghg_world

      Entity      Code  Year  Annual greenhouse gas emissions
34542  World  OWID_WRL  1851                     4.100721e+09
34543  World  OWID_WRL  1852                     4.156867e+09
34544  World  OWID_WRL  1853                     4.233854e+09
34545  World  OWID_WRL  1854                     4.308952e+09
34546  World  OWID_WRL  1855                     4.336073e+09
...      ...       ...   ...                              ...
34708  World  OWID_WRL  2017                     5.340529e+10
34709  World  OWID_WRL  2018                     5.406630e+10
34710  World  OWID_WRL  2019                     5.482132e+10
34711  World  OWID_WRL  2020                     5.258525e+10
34712  World  OWID_WRL  2021                     5.459319e+10

[171 rows x 4 columns]

In [12]:
print('Total GHG ALL Shape', total_ghg.shape)
print('Total Shape Country', total_ghg_country.shape)
print('Total Shape w/o ISO', total_ghg_without_iso.shape)
print('Total Shape World  ', total_ghg_world.shape)

Total GHG ALL Shape (35226, 4)
Total Shape Country (34029, 4)
Total Shape w/o ISO (1026, 4)
Total Shape World   (171, 4)

In [13]:
print('Checking Divisions:', (35226-34029-1026-171) == 0)

Checking Divisions: True

## Per Capita GHG Dataset

In [14]:
perCapita_ghg = pd.read_csv('datasets/factors/per-capita-ghg-emissions.csv')

In [15]:
perCapita_ghg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33558 entries, 0 to 33557
Data columns (total 4 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Entity                               33558 non-null  object
 1   Code                                 33558 non-null  object
 2   Year                                 33558 non-null  int64
 3   Greenhouse gas emissions per person  33558 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.0+ MB

In [16]:
perCapita_ghg_country = perCapita_ghg[[len(str(x)) == 3 for x in perCapita_ghg['Code']]]

In [17]:
perCapita_ghg_world = perCapita_ghg[perCapita_ghg['Entity'] == 'World']

In [18]:
print('Per Capita GHG ALL Shape    ', perCapita_ghg.shape)
print('Per Capita GHG Country Shape', perCapita_ghg_country.shape)
print('Per Capita GHG World Shape  ', perCapita_ghg_world.shape)

Per Capita GHG ALL Shape     (33558, 4)
Per Capita GHG Country Shape (33387, 4)
Per Capita GHG World Shape   (171, 4)

In [19]:
print('Checking Divisions:', (33558-33387-171) == 0)

Checking Divisions: True

In [20]:
perCapita_ghg_country.isna().sum()
# confirm no null values

Entity                                 0
Code                                   0
Year                                   0
Greenhouse gas emissions per person    0
dtype: int64

# Global Displacement Dataset

In [21]:
displacement = pd.read_excel('datasets/effects/IDMC_GIDD_disasters_internal_displacement_data_2021-1680745854911.xlsx')

In [22]:
weather_related_dis = displacement[displacement['Hazard Category'] == 'Weather related']
geo_related_dis = displacement[displacement['Hazard Category'] == 'Geophysical']
na_related_dis = displacement[displacement['Hazard Category'].isna()]

In [23]:
print('ALL Shape', displacement.shape)
print('Geo Shape', geo_related_dis.shape)
print('Wea Shape', weather_related_dis.shape)
print('NA Shape ', na_related_dis.shape)

ALL Shape (11140, 9)
Geo Shape (670, 9)
Wea Shape (10467, 9)
NA Shape  (3, 9)

In [24]:
print('Checking Division: ', (11140-670-10467-3) == 0)

Checking Division:  True

### Clean Weather Related Displacement

In [25]:
weather_related_dis.isna().sum()

ISO3                                 0
Country / Territory                  0
Year                                 0
Event Name                         436
Date of event (start)                0
Disaster Internal Displacements      0
Hazard Category                      0
Hazard Type                          0
Hazard Sub Type                    523
dtype: int64

In [26]:
weather_related_dis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10467 entries, 0 to 11139
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ISO3                             10467 non-null  object
 1   Country / Territory              10467 non-null  object
 2   Year                             10467 non-null  int64
 3   Event Name                       10031 non-null  object
 4   Date of event (start)            10467 non-null  object
 5   Disaster Internal Displacements  10467 non-null  int64
 6   Hazard Category                  10467 non-null  object
 7   Hazard Type                      10467 non-null  object
 8   Hazard Sub Type                  9944 non-null   object
dtypes: int64(2), object(7)
memory usage: 817.7+ KB

In [27]:
weather_related_dis

,ISO3,Country / Territory,Year,Event Name,Date of event (start),Disaster Internal Displacements,Hazard Category,Hazard Type,Hazard Sub Type
0,AB9,Abyei Area,2018,Abyie: Flood - 01/07/2018,2018-07-01T00:00:00Z,2,Weather related,Flood,Flood
1,AB9,Abyei Area,2019,Abyei: Flood - southern parts - 01/06/2019,2019-06-01T00:00:00Z,40000,Weather related,Flood,Flood
3,AFG,Afghanistan,2008,NaN,2008-08-01T00:00:00Z,180,Weather related,Flood,Flood
4,AFG,Afghanistan,2009,2009-000080,2009-01-01T00:00:00Z,25000,Weather related,Flood,Flood
6,AFG,Afghanistan,2010,2010-000077,2010-01-01T00:00:00Z,70000,Weather related,Flood,Flood
...,...,...,...,...,...,...,...,...,...
11135,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,1100,Weather related,Storm,"Storm, Tropical, Cyclone"
11136,ZWE,Zimbabwe,2021,Zimbabwe: Hailstorm - Manicaland (Mutare Rural...,2021-11-01T00:00:00Z,330,Weather related,Storm,Hailstorm
11137,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,270,Weather related,Storm,"Storm, Tropical, Cyclone"
11138,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,140,Weather related,Storm,"Storm, Tropical, Cyclone"
11139,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,140,Weather related,Storm,"Storm, Tropical, Cyclone"

In [28]:
weather_related_dis['Disaster Internal Displacements'].sum()

305598573

In [29]:
geo_related_dis['Disaster Internal Displacements'].sum()

36742248

In [30]:
print('Total Disaster Displacement:', 305598573+36742248)
# confirmed in the website

Total Disaster Displacement: 342340821

In [31]:
weather_related_dis

,ISO3,Country / Territory,Year,Event Name,Date of event (start),Disaster Internal Displacements,Hazard Category,Hazard Type,Hazard Sub Type
0,AB9,Abyei Area,2018,Abyie: Flood - 01/07/2018,2018-07-01T00:00:00Z,2,Weather related,Flood,Flood
1,AB9,Abyei Area,2019,Abyei: Flood - southern parts - 01/06/2019,2019-06-01T00:00:00Z,40000,Weather related,Flood,Flood
3,AFG,Afghanistan,2008,NaN,2008-08-01T00:00:00Z,180,Weather related,Flood,Flood
4,AFG,Afghanistan,2009,2009-000080,2009-01-01T00:00:00Z,25000,Weather related,Flood,Flood
6,AFG,Afghanistan,2010,2010-000077,2010-01-01T00:00:00Z,70000,Weather related,Flood,Flood
...,...,...,...,...,...,...,...,...,...
11135,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,1100,Weather related,Storm,"Storm, Tropical, Cyclone"
11136,ZWE,Zimbabwe,2021,Zimbabwe: Hailstorm - Manicaland (Mutare Rural...,2021-11-01T00:00:00Z,330,Weather related,Storm,Hailstorm
11137,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,270,Weather related,Storm,"Storm, Tropical, Cyclone"
11138,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,140,Weather related,Storm,"Storm, Tropical, Cyclone"
11139,ZWE,Zimbabwe,2021,"Madagascar, Mozambique; Zimbabwe; South Africa...",2021-01-19T00:00:00Z,140,Weather related,Storm,"Storm, Tropical, Cyclone"

In [32]:
weather_related_dis = weather_related_dis[['ISO3', 'Country / Territory', 'Year', 'Disaster Internal Displacements']].groupby(['Country / Territory', 'ISO3', 'Year']).sum().reset_index()
# Grouped according to country and aggregated by year

In [33]:
weather_related_dis

     Country / Territory ISO3  Year  Disaster Internal Displacements
0             Abyei Area  AB9  2018                                2
1             Abyei Area  AB9  2019                            40000
2            Afghanistan  AFG  2008                              180
3            Afghanistan  AFG  2009                            25000
4            Afghanistan  AFG  2010                            70000
...                  ...  ...   ...                              ...
1451            Zimbabwe  ZWE  2017                            10308
1452            Zimbabwe  ZWE  2018                             1066
1453            Zimbabwe  ZWE  2019                            52400
1454            Zimbabwe  ZWE  2020                              385
1455            Zimbabwe  ZWE  2021                             2338

[1456 rows x 4 columns]

## GHG Factors Dataset

In [34]:
ghg_factors = pd.read_csv('datasets/factors/owid-co2-data.csv')
ghg_factors_meta = pd.read_csv('datasets/factors/owid-co2-codebook.csv')

Check the industries contributing to GHG emissions

In [35]:
rows = ghg_factors_meta.shape[0]
for i in range(rows):
    print(ghg_factors_meta['column'][i], '-', ghg_factors_meta['description'][i])
    print()

country - Geographic location.

year - Year of observation.

iso_code - ISO 3166-1 alpha-3, three-letter country codes.

population - Population of each country or region.

gdp - Gross domestic product measured in international-$ using 2011 prices to adjust for price changes over time (inflation) and price differences between countries. Calculated by multiplying GDP per capita with population.

cement_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from cement, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cement_co2_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚) from cement, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2 - Annual total production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_growth_abs - Annual growth in total production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_growth_prct - Annual percentage growth in total production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_including_luc - Annual total production-based emissions of carbon dioxide (COâ‚‚), including land-use change, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_including_luc_growth_abs - Annual growth in total production-based emissions of carbon dioxide (COâ‚‚), including land-use change, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_including_luc_growth_prct - Annual percentage growth in total production-based emissions of carbon dioxide (COâ‚‚), including land-use change. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_including_luc_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚), including land-use change, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_including_luc_per_gdp - Annual total production-based emissions of carbon dioxide (COâ‚‚), including land-use change, measured in kilograms per dollar of GDP (2011 international-$). Production-based emissions are based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_including_luc_per_unit_energy - Annual total production-based emissions of carbon dioxide (COâ‚‚), including land-use change, measured in kilograms per kilowatt-hour of primary energy consumption. Production-based emissions are based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_per_capita - Annual total production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_per_gdp - Annual total production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, measured in kilograms per dollar of GDP (2011 international-$). Production-based emissions are based on territorial emissions, which do not account for emissions embedded in traded goods.

co2_per_unit_energy - Annual total production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, measured in kilograms per kilowatt-hour of primary energy consumption. Production-based emissions are based on territorial emissions, which do not account for emissions embedded in traded goods.

coal_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from coal, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

coal_co2_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚) from coal, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

consumption_co2 - Annual consumption-based emissions of carbon dioxide (COâ‚‚), measured in million tonnes. Consumption-based emissions are national or regional emissions which have been adjusted for trade (i.e. territorial/production emissions minus emissions embedded in exports, plus emissions embedded in imports). If a country's consumption-based emissions are higher than its production emissions it is a net importer of carbon dioxide. Data has been converted by Our World in Data from million tonnes of carbon to million tonnes of COâ‚‚ using a conversion factor of 3.664.

consumption_co2_per_capita - Annual consumption-based emissions of carbon dioxide (COâ‚‚), measured in tonnes per person. Consumption-based emissions are national or regional emissions which have been adjusted for trade (i.e. territorial/production emissions minus emissions embedded in exports, plus emissions embedded in imports). If a country's consumption-based emissions are higher than its production emissions it is a net importer of carbon dioxide. Consumption-based COâ‚‚ emissions have been converted by Our World in Data from tonnes of carbon to tonnes of COâ‚‚ using a conversion factor of 3.664.

consumption_co2_per_gdp - Annual consumption-based emissions of carbon dioxide (COâ‚‚), measured in kilograms per dollar of GDP (2011 international-$). Consumption-based emissions are national or regional emissions which have been adjusted for trade (i.e. territorial/production emissions minus emissions embedded in exports, plus emissions embedded in imports). If a country's consumption-based emissions are higher than its production emissions it is a net importer of carbon dioxide. Consumption-based COâ‚‚ emissions have been converted by Our World in Data from tonnes of carbon to tonnes of COâ‚‚ using a conversion factor of 3.664.

cumulative_cement_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from cement since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_co2 - Total cumulative production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_co2_including_luc - Total cumulative production-based emissions of carbon dioxide (COâ‚‚), including land-use change, since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_coal_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from coal since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_flaring_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from flaring since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_gas_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from gas since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_luc_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from land-use change since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_oil_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from oil since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

cumulative_other_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from other industry sources since the first year of data availability, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

energy_per_capita - Primary energy consumption per capita, measured in kilowatt-hours per person per year.

energy_per_gdp - Primary energy consumption per unit of gross domestic product, measured in kilowatt-hours per international-$.

flaring_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from flaring, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

flaring_co2_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚) from flaring, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

gas_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from gas, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

gas_co2_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚) from gas, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

ghg_excluding_lucf_per_capita - Total greenhouse gas emissions excluding land-use change and forestry, measured in tonnes of carbon dioxide-equivalents per capita.

ghg_per_capita - Total greenhouse gas emissions including land-use change and forestry, measured in tonnes of carbon dioxide-equivalents per capita.

land_use_change_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from land-use change, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

land_use_change_co2_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚) from land-use change, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

methane - Total methane emissions including land-use change and forestry, measured in million tonnes of carbon dioxide-equivalents.

methane_per_capita - Total methane emissions including land-use change and forestry, measured in tonnes of carbon dioxide-equivalents per capita.

nitrous_oxide - Total nitrous oxide emissions including land-use change and forestry, measured in million tonnes of carbon dioxide-equivalents.

nitrous_oxide_per_capita - Total nitrous oxide emissions including land-use change and forestry, measured in tonnes of carbon dioxide-equivalents per capita.

oil_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from oil, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

oil_co2_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚) from oil, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

other_co2_per_capita - Annual production-based emissions of carbon dioxide (COâ‚‚) from other industry sources, measured in tonnes per person. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

other_industry_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from other industry sources, measured in million tonnes. This is based on territorial emissions, which do not account for emissions embedded in traded goods.

primary_energy_consumption - Primary energy consumption, measured in terawatt-hours per year.

share_global_cement_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from cement, measured as a percentage of global production-based emissions of COâ‚‚ from cement in the same year. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions from cement has been calculated by Our World in Data using global COâ‚‚ emissions from cement provided in the Global Carbon Budget dataset.

share_global_co2 - Annual total production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, measured as a percentage of global production-based emissions of COâ‚‚ in the same year. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions has been calculated by Our World in Data using global COâ‚‚ emissions provided in the Global Carbon Budget dataset. Global emissions include all country emissions as well as emissions from international aviation and shipping.

share_global_co2_including_luc - Annual total production-based emissions of carbon dioxide (COâ‚‚), including land-use change, measured as a percentage of global total production-based emissions of COâ‚‚ in the same year. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions has been calculated by Our World in Data using global COâ‚‚ emissions provided in the Global Carbon Budget dataset. Global emissions include all country emissions as well as emissions from international aviation and shipping.

share_global_coal_co2 - Annual production-based emissions of carbon dioxide (COâ‚‚) from coal, measured as a percentage of global production-based emissions of COâ‚‚ from coal in the same year. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions from coal has been calculated by Our World in Data using global COâ‚‚ emissions from coal provided in the Global Carbon Budget dataset.

share_global_cumulative_cement_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from cement since the first year of data availability, measured as a percentage of global cumulative production-based emissions of COâ‚‚ from cement since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions from cement has been calculated by Our World in Data using global COâ‚‚ emissions from cement provided in the Global Carbon Budget dataset.

share_global_cumulative_co2 - Total cumulative production-based emissions of carbon dioxide (COâ‚‚), excluding land-use change, since the first year of data availability, measured as a percentage of global total cumulative production-based emissions of COâ‚‚ since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions has been calculated by Our World in Data using global COâ‚‚ emissions provided in the Global Carbon Budget dataset. Global emissions include all country emissions as well as emissions from international aviation and shipping.

share_global_cumulative_co2_including_luc - Total cumulative production-based emissions of carbon dioxide (COâ‚‚), including land-use change, since the first year of data availability, measured as a percentage of global total cumulative production-based emissions of COâ‚‚ (including land-use change) since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions has been calculated by Our World in Data using global COâ‚‚ emissions provided in the Global Carbon Budget dataset. Global emissions include all country emissions as well as emissions from international aviation and shipping.

share_global_cumulative_coal_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from coal since the first year of data availability, measured as a percentage of global cumulative production-based emissions of COâ‚‚ from coal since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions from coal has been calculated by Our World in Data using global COâ‚‚ emissions from coal provided in the Global Carbon Budget dataset.

share_global_cumulative_flaring_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from flaring since the first year of data availability, measured as a percentage of global cumulative production-based emissions of COâ‚‚ from flaring since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions from flaring has been calculated by Our World in Data using global COâ‚‚ emissions from flaring provided in the Global Carbon Budget dataset.

share_global_cumulative_gas_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from gas since the first year of data availability, measured as a percentage of global cumulative production-based emissions of COâ‚‚ from gas since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions from gas has been calculated by Our World in Data using global COâ‚‚ emissions from gas provided in the Global Carbon Budget dataset.

share_global_cumulative_luc_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from land-use change since the first year of data availability, measured as a percentage of global cumulative production-based emissions of COâ‚‚ from land-use chang since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions has been calculated by Our World in Data using global COâ‚‚ emissions provided in the Global Carbon Budget dataset.

share_global_cumulative_oil_co2 - Cumulative production-based emissions of carbon dioxide (COâ‚‚) from oil since the first year of data availability, measured as a percentage of global cumulative production-based emissions of COâ‚‚ from oil since the first year of data availability. This is based on territorial emissions, which do not account for emissions embedded in traded goods. Each country's share of global COâ‚‚ emissions from oil has been calculated by Our World in Data using global COâ‚‚ emissions from oil provided in the Global Carbon Budget dataset. Global oil emissions include all country emissions as well as emissions from international aviation and shipping.


### Extract World Fossil Fuel Industry

In [36]:
world_ghg = ghg_factors[ghg_factors['country'] == 'World']

In [37]:
world_ghg = world_ghg[['country','year','cement_co2', 'coal_co2', 'gas_co2', 'oil_co2', 'flaring_co2', 'other_industry_co2']].reset_index()

In [38]:
world_ghg[world_ghg['year'] == 2017][['country','year','cement_co2', 'coal_co2', 'gas_co2', 'oil_co2', 'flaring_co2', 'other_industry_co2']]

,country,year,cement_co2,coal_co2,gas_co2,oil_co2,flaring_co2,other_industry_co2
267,World,2017,1507.923,14506.974,7144.928,12242.628,391.992,302.294

In [39]:
print('Total Emission (2017): ',(1507.923+14506.974+7144.928+12242.628+391.992+302.294) * 1_000_000)
# accuracy check with the Kurzgesagt video

Total Emission (2017):  36096739000.0

In [40]:
del world_ghg['index']

In [41]:
world_ghg = world_ghg.fillna(0)

In [42]:
world_ghg

,country,year,cement_co2,coal_co2,gas_co2,oil_co2,flaring_co2,other_industry_co2
0,World,1750,0.000,9.351,0.000,0.000,0.000,0.000
1,World,1751,0.000,9.351,0.000,0.000,0.000,0.000
2,World,1752,0.000,9.354,0.000,0.000,0.000,0.000
3,World,1753,0.000,9.354,0.000,0.000,0.000,0.000
4,World,1754,0.000,9.358,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...
267,World,2017,1507.923,14506.974,7144.928,12242.628,391.992,302.294
268,World,2018,1569.218,14746.831,7529.847,12266.017,412.116,302.479
269,World,2019,1617.507,14725.978,7647.528,12345.653,439.254,306.639
270,World,2020,1637.537,14174.564,7556.290,11191.809,407.584,296.302
271,World,2021,1672.592,14979.598,7921.830,11837.159,416.526,296.146

## Global Temperature Anomaly

In [43]:
global_temp = pd.read_csv('datasets/factors/climate-change.csv')

In [44]:
global_temp = global_temp[global_temp['Entity'] == 'World']

In [45]:
global_temp = global_temp[['Entity', 'Date', 'Temperature anomaly']].dropna().reset_index()

In [46]:
del global_temp['index']

In [47]:
global_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718 entries, 0 to 1717
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Entity               1718 non-null   object
 1   Date                 1718 non-null   object
 2   Temperature anomaly  1718 non-null   float64
dtypes: float64(1), object(2)
memory usage: 40.4+ KB

In [48]:
global_temp['Date'] = pd.to_datetime(global_temp['Date'])

In [49]:
global_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718 entries, 0 to 1717
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Entity               1718 non-null   object
 1   Date                 1718 non-null   datetime64[ns]
 2   Temperature anomaly  1718 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 40.4+ KB

In [50]:
global_temp['Year'] = global_temp['Date'].dt.year

In [51]:
global_temp = global_temp[['Entity', 'Year', 'Temperature anomaly']].groupby(['Entity','Year']).mean().reset_index()

In [52]:
global_temp

    Entity  Year  Temperature anomaly
0    World  1880            -0.166667
1    World  1881            -0.082500
2    World  1882            -0.110000
3    World  1883            -0.174167
4    World  1884            -0.280000
..     ...   ...                  ...
139  World  2019             0.976667
140  World  2020             1.017500
141  World  2021             0.844167
142  World  2022             0.891667
143  World  2023             0.915000

[144 rows x 3 columns]

# Exporting the Datasets

### Final touch before export, checking and making the column names uniform

Total greenhouse gas emission per country - annual basis

In [53]:
total_ghg_country = total_ghg_country.rename(columns = {'Entity' : 'Name', 'Code' : 'ISO', 'Annual greenhouse gas emissions': 'GHG Emissions'})

In [54]:
total_ghg_country

              Name  ISO  Year  GHG Emissions
0      Afghanistan  AFG  1851      7373214.5
1      Afghanistan  AFG  1852      7422393.5
2      Afghanistan  AFG  1853      7483595.5
3      Afghanistan  AFG  1854      7532321.0
4      Afghanistan  AFG  1855      7580708.5
...            ...  ...   ...            ...
35221     Zimbabwe  ZWE  2017     37999464.0
35222     Zimbabwe  ZWE  2018     39079344.0
35223     Zimbabwe  ZWE  2019     38701420.0
35224     Zimbabwe  ZWE  2020     37733230.0
35225     Zimbabwe  ZWE  2021     38060004.0

[34029 rows x 4 columns]

Greenhouse gas emission to population ratio per country - annual basis

In [55]:
perCapita_ghg_country.rename(columns = {'Entity' : 'Name', 'Code' : 'ISO', 'Annual greenhouse gas emissions': 'GHG Emissions per Capita'})

              Name  ISO  Year  Greenhouse gas emissions per person
0      Afghanistan  AFG  1851                             1.955849
1      Afghanistan  AFG  1852                             1.959601
2      Afghanistan  AFG  1853                             1.965935
3      Afghanistan  AFG  1854                             1.968897
4      Afghanistan  AFG  1855                             1.971694
...            ...  ...   ...                                  ...
33553     Zimbabwe  ZWE  2017                             2.576042
33554     Zimbabwe  ZWE  2018                             2.596256
33555     Zimbabwe  ZWE  2019                             2.520509
33556     Zimbabwe  ZWE  2020                             2.408044
33557     Zimbabwe  ZWE  2021                             2.379713

[33387 rows x 4 columns]

Weather related disaster displacement per country/territory - annual basis

In [56]:
world_related_dis = weather_related_dis.rename(columns = {'Country / Territory' : 'Name', 'ISO3' : 'ISO', 'Disaster Internal Displacements': 'Weather Related Displacements'})

In [57]:
world_related_dis

             Name  ISO  Year  Weather Related Displacements
0      Abyei Area  AB9  2018                              2
1      Abyei Area  AB9  2019                          40000
2     Afghanistan  AFG  2008                            180
3     Afghanistan  AFG  2009                          25000
4     Afghanistan  AFG  2010                          70000
...           ...  ...   ...                            ...
1451     Zimbabwe  ZWE  2017                          10308
1452     Zimbabwe  ZWE  2018                           1066
1453     Zimbabwe  ZWE  2019                          52400
1454     Zimbabwe  ZWE  2020                            385
1455     Zimbabwe  ZWE  2021                           2338

[1456 rows x 4 columns]

Fossil fuel industry and other industries emission in the world - annual basis

In [58]:
world_co2 = world_ghg.rename(columns = {'country' : 'Name', 'year' : 'Year', 'cement_co2': 'Cement CO2', 'coal_co2' : 'Coal CO2', 'gas_co2' : 'Gas CO2',
                           'oil_co2': 'Oil CO2', 'flaring_co2':'Flaring CO2', 'other_industry_co2': 'Other Industry CO2'})

In [59]:
world_co2

,Name,Year,Cement CO2,Coal CO2,Gas CO2,Oil CO2,Flaring CO2,Other Industry CO2
0,World,1750,0.000,9.351,0.000,0.000,0.000,0.000
1,World,1751,0.000,9.351,0.000,0.000,0.000,0.000
2,World,1752,0.000,9.354,0.000,0.000,0.000,0.000
3,World,1753,0.000,9.354,0.000,0.000,0.000,0.000
4,World,1754,0.000,9.358,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...
267,World,2017,1507.923,14506.974,7144.928,12242.628,391.992,302.294
268,World,2018,1569.218,14746.831,7529.847,12266.017,412.116,302.479
269,World,2019,1617.507,14725.978,7647.528,12345.653,439.254,306.639
270,World,2020,1637.537,14174.564,7556.290,11191.809,407.584,296.302
271,World,2021,1672.592,14979.598,7921.830,11837.159,416.526,296.146

Getting `world_co2` dataset ready for animated bar chart

In [86]:
years = []
factors = []
values = []

for index, each in world_co2.iterrows():
    for each2 in ['Cement CO2','Coal CO2','Gas CO2','Oil CO2','Flaring CO2','Other Industry CO2']:
        years.append(each['Year'])
        factors.append(each2)
        values.append(each[each2])
        
for each in range(len(years)):
    print(years[each], factors[each], values[each])

1750 Cement CO2 0.0
1750 Coal CO2 9.351
1750 Gas CO2 0.0
1750 Oil CO2 0.0
1750 Flaring CO2 0.0
1750 Other Industry CO2 0.0
1751 Cement CO2 0.0
1751 Coal CO2 9.351
1751 Gas CO2 0.0
1751 Oil CO2 0.0
1751 Flaring CO2 0.0
1751 Other Industry CO2 0.0
1752 Cement CO2 0.0
1752 Coal CO2 9.354
1752 Gas CO2 0.0
1752 Oil CO2 0.0
1752 Flaring CO2 0.0
1752 Other Industry CO2 0.0
1753 Cement CO2 0.0
1753 Coal CO2 9.354
1753 Gas CO2 0.0
1753 Oil CO2 0.0
1753 Flaring CO2 0.0
1753 Other Industry CO2 0.0
1754 Cement CO2 0.0
1754 Coal CO2 9.358
1754 Gas CO2 0.0
1754 Oil CO2 0.0
1754 Flaring CO2 0.0
1754 Other Industry CO2 0.0
1755 Cement CO2 0.0
1755 Coal CO2 9.362
1755 Gas CO2 0.0
1755 Oil CO2 0.0
1755 Flaring CO2 0.0
1755 Other Industry CO2 0.0
1756 Cement CO2 0.0
1756 Coal CO2 10.006
1756 Gas CO2 0.0
1756 Oil CO2 0.0
1756 Flaring CO2 0.0
1756 Other Industry CO2 0.0
1757 Cement CO2 0.0
1757 Coal CO2 10.01
1757 Gas CO2 0.0
1757 Oil CO2 0.0
1757 Flaring CO2 0.0
1757 Other Industry CO2 0.0
1758 Cement CO2 0.0
1758 Coal CO2 10.014
1758 Gas CO2 0.0
1758 Oil CO2 0.0
1758 Flaring CO2 0.0
1758 Other Industry CO2 0.0
1759 Cement CO2 0.0
1759 Coal CO2 10.017
1759 Gas CO2 0.0
1759 Oil CO2 0.0
1759 Flaring CO2 0.0
1759 Other Industry CO2 0.0
1760 Cement CO2 0.0
1760 Coal CO2 10.017
1760 Gas CO2 0.0
1760 Oil CO2 0.0
1760 Flaring CO2 0.0
1760 Other Industry CO2 0.0
1761 Cement CO2 0.0
1761 Coal CO2 10.974
1761 Gas CO2 0.0
1761 Oil CO2 0.0
1761 Flaring CO2 0.0
1761 Other Industry CO2 0.0
1762 Cement CO2 0.0
1762 Coal CO2 10.977
1762 Gas CO2 0.0
1762 Oil CO2 0.0
1762 Flaring CO2 0.0
1762 Other Industry CO2 0.0
1763 Cement CO2 0.0
1763 Coal CO2 10.981
1763 Gas CO2 0.0
1763 Oil CO2 0.0
1763 Flaring CO2 0.0
1763 Other Industry CO2 0.0
1764 Cement CO2 0.0
1764 Coal CO2 10.985
1764 Gas CO2 0.0
1764 Oil CO2 0.0
1764 Flaring CO2 0.0
1764 Other Industry CO2 0.0
1765 Cement CO2 0.0
1765 Coal CO2 10.988
1765 Gas CO2 0.0
1765 Oil CO2 0.0
1765 Flaring CO2 0.0
1765 Other Industry CO2 0.0
1766 Cement CO2 0.0
1766 Coal CO2 12.26
1766 Gas CO2 0.0
1766 Oil CO2 0.0
1766 Flaring CO2 0.0
1766 Other Industry CO2 0.0
1767 Cement CO2 0.0
1767 Coal CO2 12.263
1767 Gas CO2 0.0
1767 Oil CO2 0.0
1767 Flaring CO2 0.0
1767 Other Industry CO2 0.0
1768 Cement CO2 0.0
1768 Coal CO2 12.267
1768 Gas CO2 0.0
1768 Oil CO2 0.0
1768 Flaring CO2 0.0
1768 Other Industry CO2 0.0
1769 Cement CO2 0.0
1769 Coal CO2 12.271
1769 Gas CO2 0.0
1769 Oil CO2 0.0
1769 Flaring CO2 0.0
1769 Other Industry CO2 0.0
1770 Cement CO2 0.0
1770 Coal CO2 12.274
1770 Gas CO2 0.0
1770 Oil CO2 0.0
1770 Flaring CO2 0.0
1770 Other Industry CO2 0.0
1771 Cement CO2 0.0
1771 Coal CO2 13.612
1771 Gas CO2 0.0
1771 Oil CO2 0.0
1771 Flaring CO2 0.0
1771 Other Industry CO2 0.0
1772 Cement CO2 0.0
1772 Coal CO2 13.615
1772 Gas CO2 0.0
1772 Oil CO2 0.0
1772 Flaring CO2 0.0
1772 Other Industry CO2 0.0
1773 Cement CO2 0.0
1773 Coal CO2 13.619
1773 Gas CO2 0.0
1773 Oil CO2 0.0
1773 Flaring CO2 0.0
1773 Other Industry CO2 0.0
1774 Cement CO2 0.0
1774 Coal CO2 13.623
1774 Gas CO2 0.0
1774 Oil CO2 0.0
1774 Flaring CO2 0.0
1774 Other Industry CO2 0.0
1775 Cement CO2 0.0
1775 Coal CO2 13.626
1775 Gas CO2 0.0
1775 Oil CO2 0.0
1775 Flaring CO2 0.0
1775 Other Industry CO2 0.0
1776 Cement CO2 0.0
1776 Coal CO2 15.037
1776 Gas CO2 0.0
1776 Oil CO2 0.0
1776 Flaring CO2 0.0
1776 Other Industry CO2 0.0
1777 Cement CO2 0.0
1777 Coal CO2 15.041
1777 Gas CO2 0.0
1777 Oil CO2 0.0
1777 Flaring CO2 0.0
1777 Other Industry CO2 0.0
1778 Cement CO2 0.0
1778 Coal CO2 15.044
1778 Gas CO2 0.0
1778 Oil CO2 0.0
1778 Flaring CO2 0.0
1778 Other Industry CO2 0.0
1779 Cement CO2 0.0
1779 Coal CO2 15.048
1779 Gas CO2 0.0
1779 Oil CO2 0.0
1779 Flaring CO2 0.0
1779 Other Industry CO2 0.0
1780 Cement CO2 0.0
1780 Coal CO2 15.055
1780 Gas CO2 0.0
1780 Oil CO2 0.0
1780 Flaring CO2 0.0
1780 Other Industry CO2 0.0
1781 Cement CO2 0.0
1781 Coal CO2 16.843
1781 Gas CO2 0.0
1781 Oil CO2 0.0
1781 Flaring CO2 0.0
1781 Other Industry CO2 0.0
1782 Cement CO2 0.0
1782 Coal CO2 16.847
1782 Gas CO2 0.0
1782 Oil CO2 0.0
1782 Flaring CO2 0.0
1782 Other Industry CO2 0.0
1783 Cement CO2 0.0
1783 Coal CO2 16.854
1783 Gas CO2 0.0
1783 Oil CO2 0.0
1783 Flaring CO2 0.0
1783 Other Industry CO2 0.0
1784 Cement CO2 0.0
1784 Coal CO2 16.858
1784 Gas CO2 0.0
1784 Oil CO2 0.0
1784 Flaring CO2 0.0
1784 Other Industry CO2 0.0
1785 Cement CO2 0.0
1785 Coal CO2 16.869
1785 Gas CO2 0.0
1785 Oil CO2 0.0
1785 Flaring CO2 0.0
1785 Other Industry CO2 0.0
1786 Cement CO2 0.0
1786 Coal CO2 19.152
1786 Gas CO2 0.0
1786 Oil CO2 0.0
1786 Flaring CO2 0.0
1786 Other Industry CO2 0.0
1787 Cement CO2 0.0
1787 Coal CO2 19.159
1787 Gas CO2 0.0
1787 Oil CO2 0.0
1787 Flaring CO2 0.0
1787 Other Industry CO2 0.0
1788 Cement CO2 0.0
1788 Coal CO2 19.163
1788 Gas CO2 0.0
1788 Oil CO2 0.0
1788 Flaring CO2 0.0
1788 Other Industry CO2 0.0
1789 Cement CO2 0.0
1789 Coal CO2 19.17
1789 Gas CO2 0.0
1789 Oil CO2 0.0
1789 Flaring CO2 0.0
1789 Other Industry CO2 0.0
1790 Cement CO2 0.0
1790 Coal CO2 19.177
1790 Gas CO2 0.0
1790 Oil CO2 0.0
1790 Flaring CO2 0.0
1790 Other Industry CO2 0.0
1791 Cement CO2 0.0
1791 Coal CO2 21.42
1791 Gas CO2 0.0
1791 Oil CO2 0.0
1791 Flaring CO2 0.0
1791 Other Industry CO2 0.0
1792 Cement CO2 0.0
1792 Coal CO2 21.896
1792 Gas CO2 0.0
1792 Oil CO2 0.0
1792 Flaring CO2 0.0
1792 Other Industry CO2 0.0
1793 Cement CO2 0.0
1793 Coal CO2 21.914
1793 Gas CO2 0.0
1793 Oil CO2 0.0
1793 Flaring CO2 0.0
1793 Other Industry CO2 0.0
1794 Cement CO2 0.0
1794 Coal CO2 21.881
1794 Gas CO2 0.0
1794 Oil CO2 0.0
1794 Flaring CO2 0.0
1794 Other Industry CO2 0.0
1795 Cement CO2 0.0
1795 Coal CO2 21.892
1795 Gas CO2 0.0
1795 Oil CO2 0.0
1795 Flaring CO2 0.0
1795 Other Industry CO2 0.0
1796 Cement CO2 0.0
1796 Coal CO2 22.951
1796 Gas CO2 0.0
1796 Oil CO2 0.0
1796 Flaring CO2 0.0
1796 Other Industry CO2 0.0
1797 Cement CO2 0.0
1797 Coal CO2 24.094
1797 Gas CO2 0.0
1797 Oil CO2 0.0
1797 Flaring CO2 0.0
1797 Other Industry CO2 0.0
1798 Cement CO2 0.0
1798 Coal CO2 25.095
1798 Gas CO2 0.0
1798 Oil CO2 0.0
1798 Flaring CO2 0.0
1798 Other Industry CO2 0.0
1799 Cement CO2 0.0
1799 Coal CO2 26.428
1799 Gas CO2 0.0
1799 Oil CO2 0.0
1799 Flaring CO2 0.0
1799 Other Industry CO2 0.0
1800 Cement CO2 0.0
1800 Coal CO2 28.092
1800 Gas CO2 0.0
1800 Oil CO2 0.0
1800 Flaring CO2 0.0
1800 Other Industry CO2 0.0
1801 Cement CO2 0.0
1801 Coal CO2 27.96
1801 Gas CO2 0.0
1801 Oil CO2 0.0
1801 Flaring CO2 0.0
1801 Other Industry CO2 0.0
1802 Cement CO2 0.0
1802 Coal CO2 36.783
1802 Gas CO2 0.0
1802 Oil CO2 0.0
1802 Flaring CO2 0.0
1802 Other Industry CO2 0.0
1803 Cement CO2 0.0
1803 Coal CO2 31.488
1803 Gas CO2 0.0
1803 Oil CO2 0.0
1803 Flaring CO2 0.0
1803 Other Industry CO2 0.0
1804 Cement CO2 0.0
1804 Coal CO2 34.31
1804 Gas CO2 0.0
1804 Oil CO2 0.0
1804 Flaring CO2 0.0
1804 Other Industry CO2 0.0
1805 Cement CO2 0.0
1805 Coal CO2 33.419
1805 Gas CO2 0.0
1805 Oil CO2 0.0
1805 Flaring CO2 0.0
1805 Other Industry CO2 0.0
1806 Cement CO2 0.0
1806 Coal CO2 35.046
1806 Gas CO2 0.0
1806 Oil CO2 0.0
1806 Flaring CO2 0.0
1806 Other Industry CO2 0.0
1807 Cement CO2 0.0
1807 Coal CO2 36.874
1807 Gas CO2 0.0
1807 Oil CO2 0.0
1807 Flaring CO2 0.0
1807 Other Industry CO2 0.0
1808 Cement CO2 0.0
1808 Coal CO2 35.064
1808 Gas CO2 0.0
1808 Oil CO2 0.0
1808 Flaring CO2 0.0
1808 Other Industry CO2 0.0
1809 Cement CO2 0.0
1809 Coal CO2 35.09
1809 Gas CO2 0.0
1809 Oil CO2 0.0
1809 Flaring CO2 0.0
1809 Other Industry CO2 0.0
1810 Cement CO2 0.0
1810 Coal CO2 37.38
1810 Gas CO2 0.0
1810 Oil CO2 0.0
1810 Flaring CO2 0.0
1810 Other Industry CO2 0.0
1811 Cement CO2 0.0
1811 Coal CO2 39.582
1811 Gas CO2 0.0
1811 Oil CO2 0.0
1811 Flaring CO2 0.0
1811 Other Industry CO2 0.0
1812 Cement CO2 0.0
1812 Coal CO2 41.007
1812 Gas CO2 0.0
1812 Oil CO2 0.0
1812 Flaring CO2 0.0
1812 Other Industry CO2 0.0
1813 Cement CO2 0.0
1813 Coal CO2 41.22
1813 Gas CO2 0.0
1813 Oil CO2 0.0
1813 Flaring CO2 0.0
1813 Other Industry CO2 0.0
1814 Cement CO2 0.0
1814 Coal CO2 42.129
1814 Gas CO2 0.0
1814 Oil CO2 0.0
1814 Flaring CO2 0.0
1814 Other Industry CO2 0.0
1815 Cement CO2 0.0
1815 Coal CO2 43.488
1815 Gas CO2 0.0
1815 Oil CO2 0.0
1815 Flaring CO2 0.0
1815 Other Industry CO2 0.0
1816 Cement CO2 0.0
1816 Coal CO2 47.665
1816 Gas CO2 0.0
1816 Oil CO2 0.0
1816 Flaring CO2 0.0
1816 Other Industry CO2 0.0
1817 Cement CO2 0.0
1817 Coal CO2 49.431
1817 Gas CO2 0.0
1817 Oil CO2 0.0
1817 Flaring CO2 0.0
1817 Other Industry CO2 0.0
1818 Cement CO2 0.0
1818 Coal CO2 49.644
1818 Gas CO2 0.0
1818 Oil CO2 0.0
1818 Flaring CO2 0.0
1818 Other Industry CO2 0.0
1819 Cement CO2 0.0
1819 Coal CO2 49.948
1819 Gas CO2 0.0
1819 Oil CO2 0.0
1819 Flaring CO2 0.0
1819 Other Industry CO2 0.0
1820 Cement CO2 0.0
1820 Coal CO2 50.688
1820 Gas CO2 0.0
1820 Oil CO2 0.0
1820 Flaring CO2 0.0
1820 Other Industry CO2 0.0
1821 Cement CO2 0.0
1821 Coal CO2 51.435
1821 Gas CO2 0.0
1821 Oil CO2 0.0
1821 Flaring CO2 0.0
1821 Other Industry CO2 0.0
1822 Cement CO2 0.0
1822 Coal CO2 53.465
1822 Gas CO2 0.0
1822 Oil CO2 0.0
1822 Flaring CO2 0.0
1822 Other Industry CO2 0.0
1823 Cement CO2 0.0
1823 Coal CO2 56.55
1823 Gas CO2 0.0
1823 Oil CO2 0.0
1823 Flaring CO2 0.0
1823 Other Industry CO2 0.0
1824 Cement CO2 0.0
1824 Coal CO2 58.525
1824 Gas CO2 0.0
1824 Oil CO2 0.0
1824 Flaring CO2 0.0
1824 Other Industry CO2 0.0
1825 Cement CO2 0.0
1825 Coal CO2 60.756
1825 Gas CO2 0.0
1825 Oil CO2 0.0
1825 Flaring CO2 0.0
1825 Other Industry CO2 0.0
1826 Cement CO2 0.0
1826 Coal CO2 61.42

1826 Gas CO2 0.0
1826 Oil CO2 0.0
1826 Flaring CO2 0.0
1826 Other Industry CO2 0.0
1827 Cement CO2 0.0
1827 Coal CO2 65.915
1827 Gas CO2 0.0
1827 Oil CO2 0.0
1827 Flaring CO2 0.0
1827 Other Industry CO2 0.0
1828 Cement CO2 0.0
1828 Coal CO2 66.637
1828 Gas CO2 0.0
1828 Oil CO2 0.0
1828 Flaring CO2 0.0
1828 Other Industry CO2 0.0
1829 Cement CO2 0.0
1829 Coal CO2 66.395
1829 Gas CO2 0.0
1829 Oil CO2 0.0
1829 Flaring CO2 0.0
1829 Other Industry CO2 0.0
1830 Cement CO2 0.0
1830 Coal CO2 89.123
1830 Gas CO2 0.0
1830 Oil CO2 0.0
1830 Flaring CO2 0.0
1830 Other Industry CO2 0.0
1831 Cement CO2 0.0
1831 Coal CO2 84.528
1831 Gas CO2 0.0
1831 Oil CO2 0.0
1831 Flaring CO2 0.0
1831 Other Industry CO2 0.0
1832 Cement CO2 0.0
1832 Coal CO2 85.111
1832 Gas CO2 0.0
1832 Oil CO2 0.0
1832 Flaring CO2 0.0
1832 Other Industry CO2 0.0
1833 Cement CO2 0.0
1833 Coal CO2 86.807
1833 Gas CO2 0.0
1833 Oil CO2 0.0
1833 Flaring CO2 0.0
1833 Other Industry CO2 0.0
1834 Cement CO2 0.0
1834 Coal CO2 88.486
1834 Gas CO2 0.0
1834 Oil CO2 0.0
1834 Flaring CO2 0.0
1834 Other Industry CO2 0.0
1835 Cement CO2 0.0
1835 Coal CO2 90.446
1835 Gas CO2 0.0
1835 Oil CO2 0.0
1835 Flaring CO2 0.0
1835 Other Industry CO2 0.0
1836 Cement CO2 0.0
1836 Coal CO2 104.776
1836 Gas CO2 0.0
1836 Oil CO2 0.0
1836 Flaring CO2 0.0
1836 Other Industry CO2 0.0
1837 Cement CO2 0.0
1837 Coal CO2 104.691
1837 Gas CO2 0.0
1837 Oil CO2 0.0
1837 Flaring CO2 0.0
1837 Other Industry CO2 0.0
1838 Cement CO2 0.0
1838 Coal CO2 108.044
1838 Gas CO2 0.0
1838 Oil CO2 0.0
1838 Flaring CO2 0.0
1838 Other Industry CO2 0.0
1839 Cement CO2 0.0
1839 Coal CO2 111.613
1839 Gas CO2 0.0
1839 Oil CO2 0.0
1839 Flaring CO2 0.0
1839 Other Industry CO2 0.0
1840 Cement CO2 0.0
1840 Coal CO2 118.93
1840 Gas CO2 0.0
1840 Oil CO2 0.0
1840 Flaring CO2 0.0
1840 Other Industry CO2 0.0
1841 Cement CO2 0.0
1841 Coal CO2 122.619
1841 Gas CO2 0.0
1841 Oil CO2 0.0
1841 Flaring CO2 0.0
1841 Other Industry CO2 0.0
1842 Cement CO2 0.0
1842 Coal CO2 129.504
1842 Gas CO2 0.0
1842 Oil CO2 0.0
1842 Flaring CO2 0.0
1842 Other Industry CO2 0.0
1843 Cement CO2 0.0
1843 Coal CO2 132.853
1843 Gas CO2 0.0
1843 Oil CO2 0.0
1843 Flaring CO2 0.0
1843 Other Industry CO2 0.0
1844 Cement CO2 0.0
1844 Coal CO2 141.423
1844 Gas CO2 0.0
1844 Oil CO2 0.0
1844 Flaring CO2 0.0
1844 Other Industry CO2 0.0
1845 Cement CO2 0.0
1845 Coal CO2 155.211
1845 Gas CO2 0.0
1845 Oil CO2 0.0
1845 Flaring CO2 0.0
1845 Other Industry CO2 0.0
1846 Cement CO2 0.0
1846 Coal CO2 157.794
1846 Gas CO2 0.0
1846 Oil CO2 0.0
1846 Flaring CO2 0.0
1846 Other Industry CO2 0.0
1847 Cement CO2 0.0
1847 Coal CO2 172.402
1847 Gas CO2 0.0
1847 Oil CO2 0.0
1847 Flaring CO2 0.0
1847 Other Industry CO2 0.0
1848 Cement CO2 0.0
1848 Coal CO2 173.816
1848 Gas CO2 0.0
1848 Oil CO2 0.0
1848 Flaring CO2 0.0
1848 Other Industry CO2 0.0
1849 Cement CO2 0.0
1849 Coal CO2 183.511
1849 Gas CO2 0.0
1849 Oil CO2 0.0
1849 Flaring CO2 0.0
1849 Other Industry CO2 0.0
1850 Cement CO2 0.0
1850 Coal CO2 196.896
1850 Gas CO2 0.0
1850 Oil CO2 0.0
1850 Flaring CO2 0.0
1850 Other Industry CO2 0.0
1851 Cement CO2 0.0
1851 Coal CO2 198.805
1851 Gas CO2 0.0
1851 Oil CO2 0.0
1851 Flaring CO2 0.0
1851 Other Industry CO2 0.0
1852 Cement CO2 0.0
1852 Coal CO2 207.551
1852 Gas CO2 0.0
1852 Oil CO2 0.0
1852 Flaring CO2 0.0
1852 Other Industry CO2 0.0
1853 Cement CO2 0.0
1853 Coal CO2 217.209
1853 Gas CO2 0.0
1853 Oil CO2 0.0
1853 Flaring CO2 0.0
1853 Other Industry CO2 0.0
1854 Cement CO2 0.0
1854 Coal CO2 255.139
1854 Gas CO2 0.0
1854 Oil CO2 0.0
1854 Flaring CO2 0.0
1854 Other Industry CO2 0.0
1855 Cement CO2 0.0
1855 Coal CO2 260.129
1855 Gas CO2 0.0
1855 Oil CO2 0.037
1855 Flaring CO2 0.0
1855 Other Industry CO2 0.0
1856 Cement CO2 0.0
1856 Coal CO2 277.251
1856 Gas CO2 0.0
1856 Oil CO2 0.04
1856 Flaring CO2 0.0
1856 Other Industry CO2 0.0
1857 Cement CO2 0.0
1857 Coal CO2 279.838
1857 Gas CO2 0.0
1857 Oil CO2 0.051
1857 Flaring CO2 0.0
1857 Other Industry CO2 0.0
1858 Cement CO2 0.0
1858 Coal CO2 284.109
1858 Gas CO2 0.0
1858 Oil CO2 0.062
1858 Flaring CO2 0.0
1858 Other Industry CO2 0.0
1859 Cement CO2 0.0
1859 Coal CO2 301.257
1859 Gas CO2 0.0
1859 Oil CO2 0.055
1859 Flaring CO2 0.0
1859 Other Industry CO2 0.0
1860 Cement CO2 0.0
1860 Coal CO2 330.368
1860 Gas CO2 0.0
1860 Oil CO2 0.273
1860 Flaring CO2 0.0
1860 Other Industry CO2 0.0
1861 Cement CO2 0.0
1861 Coal CO2 346.793
1861 Gas CO2 0.0
1861 Oil CO2 0.941
1861 Flaring CO2 0.0
1861 Other Industry CO2 0.0
1862 Cement CO2 0.0
1862 Coal CO2 352.658
1862 Gas CO2 0.0
1862 Oil CO2 1.399
1862 Flaring CO2 0.0
1862 Other Industry CO2 0.0
1863 Cement CO2 0.0
1863 Coal CO2 376.566
1863 Gas CO2 0.0
1863 Oil CO2 1.293
1863 Flaring CO2 0.0
1863 Other Industry CO2 0.0
1864 Cement CO2 0.0
1864 Coal CO2 405.98
1864 Gas CO2 0.0
1864 Oil CO2 1.11
1864 Flaring CO2 0.0
1864 Other Industry CO2 0.0
1865 Cement CO2 0.0
1865 Coal CO2 430.987
1865 Gas CO2 0.0
1865 Oil CO2 1.32
1865 Flaring CO2 0.0
1865 Other Industry CO2 0.0
1866 Cement CO2 0.0
1866 Coal CO2 444.018
1866 Gas CO2 0.0
1866 Oil CO2 1.952
1866 Flaring CO2 0.0
1866 Other Industry CO2 0.0
1867 Cement CO2 0.0
1867 Coal CO2 475.83
1867 Gas CO2 0.0
1867 Oil CO2 1.985
1867 Flaring CO2 0.0
1867 Other Industry CO2 0.0
1868 Cement CO2 0.0
1868 Coal CO2 488.464
1868 Gas CO2 0.0
1868 Oil CO2 2.289
1868 Flaring CO2 0.0
1868 Other Industry CO2 0.0
1869 Cement CO2 0.0
1869 Coal CO2 518.516
1869 Gas CO2 0.0
1869 Oil CO2 2.614
1869 Flaring CO2 0.0
1869 Other Industry CO2 0.0
1870 Cement CO2 0.0
1870 Coal CO2 529.404
1870 Gas CO2 0.0
1870 Oil CO2 3.133
1870 Flaring CO2 0.0
1870 Other Industry CO2 0.0
1871 Cement CO2 0.0
1871 Coal CO2 562.861
1871 Gas CO2 0.0
1871 Oil CO2 3.282
1871 Flaring CO2 0.0
1871 Other Industry CO2 0.0
1872 Cement CO2 0.0
1872 Coal CO2 622.674
1872 Gas CO2 0.0
1872 Oil CO2 3.698
1872 Flaring CO2 0.0
1872 Other Industry CO2 0.0
1873 Cement CO2 0.0
1873 Coal CO2 659.749
1873 Gas CO2 0.0
1873 Oil CO2 5.67
1873 Flaring CO2 0.0
1873 Other Industry CO2 0.0
1874 Cement CO2 0.0
1874 Coal CO2 616.754
1874 Gas CO2 0.0
1874 Oil CO2 6.243
1874 Flaring CO2 0.0
1874 Other Industry CO2 0.0
1875 Cement CO2 0.0
1875 Coal CO2 669.964
1875 Gas CO2 0.0
1875 Oil CO2 5.835
1875 Flaring CO2 0.0
1875 Other Industry CO2 0.0
1876 Cement CO2 0.0
1876 Coal CO2 679.017
1876 Gas CO2 0.0
1876 Oil CO2 6.536
1876 Flaring CO2 0.0
1876 Other Industry CO2 0.0
1877 Cement CO2 0.0
1877 Coal CO2 690.274
1877 Gas CO2 0.0
1877 Oil CO2 8.824
1877 Flaring CO2 0.0
1877 Other Industry CO2 0.0
1878 Cement CO2 0.0
1878 Coal CO2 694.339
1878 Gas CO2 0.0
1878 Oil CO2 10.041
1878 Flaring CO2 0.0
1878 Other Industry CO2 0.0
1879 Cement CO2 0.0
1879 Coal CO2 742.208
1879 Gas CO2 0.0
1879 Oil CO2 12.66
1879 Flaring CO2 0.0
1879 Other Industry CO2 0.0
1880 Cement CO2 0.0
1880 Coal CO2 838.34
1880 Gas CO2 0.0
1880 Oil CO2 15.364
1880 Flaring CO2 0.0
1880 Other Industry CO2 0.0
1881 Cement CO2 0.0
1881 Coal CO2 865.162
1881 Gas CO2 0.0
1881 Oil CO2 17.242
1881 Flaring CO2 0.0
1881 Other Industry CO2 0.0
1882 Cement CO2 0.0
1882 Coal CO2 912.817
1882 Gas CO2 0.165
1882 Oil CO2 18.939
1882 Flaring CO2 0.0
1882 Other Industry CO2 0.0
1883 Cement CO2 0.0
1883 Coal CO2 974.149
1883 Gas CO2 0.381
1883 Oil CO2 16.502
1883 Flaring CO2 0.0
1883 Other Industry CO2 0.0
1884 Cement CO2 0.0
1884 Coal CO2 982.679
1884 Gas CO2 1.172
1884 Oil CO2 18.323
1884 Flaring CO2 0.0
1884 Other Industry CO2 0.0
1885 Cement CO2 0.0
1885 Coal CO2 986.996
1885 Gas CO2 3.715
1885 Oil CO2 18.959
1885 Flaring CO2 0.0
1885 Other Industry CO2 0.0
1886 Cement CO2 0.0
1886 Coal CO2 995.975
1886 Gas CO2 7.676
1886 Oil CO2 21.824
1886 Flaring CO2 0.0
1886 Other Industry CO2 0.0
1887 Cement CO2 0.001
1887 Coal CO2 1041.488
1887 Gas CO2 11.787
1887 Oil CO2 23.482
1887 Flaring CO2 0.0
1887 Other Industry CO2 0.0
1888 Cement CO2 0.001
1888 Coal CO2 1150.917
1888 Gas CO2 16.774
1888 Oil CO2 24.581
1888 Flaring CO2 0.0
1888 Other Industry CO2 0.0
1889 Cement CO2 0.001
1889 Coal CO2 1151.165
1889 Gas CO2 12.227
1889 Oil CO2 28.407
1889 Flaring CO2 0.0
1889 Other Industry CO2 0.0
1890 Cement CO2 0.001
1890 Coal CO2 1252.118
1890 Gas CO2 11.688
1890 Oil CO2 34.651
1890 Flaring CO2 0.0
1890 Other Industry CO2 0.0
1891 Cement CO2 0.001
1891 Coal CO2 1309.094
1891 Gas CO2 8.947
1891 Oil CO2 40.832
1891 Flaring CO2 0.0
1891 Other Industry CO2 0.0
1892 Cement CO2 0.001
1892 Coal CO2 1322.106
1892 Gas CO2 7.775
1892 Oil CO2 40.207
1892 Flaring CO2 0.0
1892 Other Industry CO2 0.0
1893 Cement CO2 0.001
1893 Coal CO2 1303.833
1893 Gas CO2 7.288
1893 Oil CO2 42.547
1893 Flaring CO2 0.0
1893 Other Industry CO2 0.0
1894 Cement CO2 0.001
1894 Coal CO2 1352.458
1894 Gas CO2 6.698
1894 Oil CO2 41.702
1894 Flaring CO2 0.0
1894 Other Industry CO2 0.0
1895 Cement CO2 0.001
1895 Coal CO2 1429.691
1895 Gas CO2 7.042
1895 Oil CO2 48.539
1895 Flaring CO2 0.0
1895 Other Industry CO2 0.0
1896 Cement CO2 0.001
1896 Coal CO2 1474.281
1896 Gas CO2 6.848
1896 Oil CO2 52.571
1896 Flaring CO2 0.0
1896 Other Industry CO2 0.0
1897 Cement CO2 0.001
1897 Coal CO2 1543.481
1897 Gas CO2 7.288
1897 Oil CO2 55.531
1897 Flaring CO2 0.0
1897 Other Industry CO2 0.0
1898 Cement CO2 0.001
1898 Coal CO2 1628.632
1898 Gas CO2 8.46
1898 Oil CO2 57.173
1898 Flaring CO2 0.0
1898 Other Industry CO2 0.0
1899 Cement CO2 0.001
1899 Coal CO2 1779.86
1899 Gas CO2 10.904
1899 Oil CO2 60.032
1899 Flaring CO2 0.0
1899 Other Industry CO2 0.0
1900 Cement CO2 0.001
1900 Coal CO2 1873.357
1900 Gas CO2 11.542
1900 Oil CO2 67.31
1900 Flaring CO2 0.0
1900 Other Industry CO2 0.0
1901 Cement CO2 0.002
1901 Coal CO2 1929.132
1901 Gas CO2 12.861
1901 Oil CO2 74.75
1901 Flaring CO2 0.0
1901 Other Industry CO2 0.0
1902 Cement CO2 0.002
1902 Coal CO2 1973.178

1902 Gas CO2 13.696
1902 Oil CO2 80.808
1902 Flaring CO2 0.0
1902 Other Industry CO2 0.0
1903 Cement CO2 0.003
1903 Coal CO2 2154.003
1903 Gas CO2 14.528
1903 Oil CO2 85.562
1903 Flaring CO2 0.0
1903 Other Industry CO2 0.0
1904 Cement CO2 0.003
1904 Coal CO2 2166.664
1904 Gas CO2 15.165
1904 Oil CO2 96.083
1904 Flaring CO2 0.0
1904 Other Industry CO2 1.834
1905 Cement CO2 0.004
1905 Coal CO2 2311.143
1905 Gas CO2 17.17
1905 Oil CO2 97.017
1905 Flaring CO2 0.0
1905 Other Industry CO2 1.98
1906 Cement CO2 0.004
1906 Coal CO2 2415.683
1906 Gas CO2 19.027
1906 Oil CO2 97.893
1906 Flaring CO2 0.0
1906 Other Industry CO2 2.127
1907 Cement CO2 0.005
1907 Coal CO2 2746.956
1907 Gas CO2 19.877
1907 Oil CO2 119.416
1907 Flaring CO2 0.0
1907 Other Industry CO2 2.054
1908 Cement CO2 0.115
1908 Coal CO2 2626.02
1908 Gas CO2 19.676
1908 Oil CO2 128.759
1908 Flaring CO2 0.0
1908 Other Industry CO2 1.834
1909 Cement CO2 0.116
1909 Coal CO2 2730.134
1909 Gas CO2 23.523
1909 Oil CO2 134.349
1909 Flaring CO2 0.0
1909 Other Industry CO2 2.347
1910 Cement CO2 0.135
1910 Coal CO2 2862.583
1910 Gas CO2 24.915
1910 Oil CO2 143.839
1910 Flaring CO2 0.0
1910 Other Industry CO2 2.347
1911 Cement CO2 0.148
1911 Coal CO2 2898.529
1911 Gas CO2 25.718
1911 Oil CO2 152.546
1911 Flaring CO2 0.0
1911 Other Industry CO2 2.274
1912 Cement CO2 0.177
1912 Coal CO2 3047.94
1912 Gas CO2 28.315
1912 Oil CO2 156.759
1912 Flaring CO2 0.0
1912 Other Industry CO2 2.347
1913 Cement CO2 0.203
1913 Coal CO2 3292.07
1913 Gas CO2 29.598
1913 Oil CO2 181.575
1913 Flaring CO2 0.0
1913 Other Industry CO2 2.421
1914 Cement CO2 0.147
1914 Coal CO2 2961.773
1914 Gas CO2 30.136
1914 Oil CO2 185.583
1914 Flaring CO2 0.0
1914 Other Industry CO2 2.274
1915 Cement CO2 0.16
1915 Coal CO2 2902.827
1915 Gas CO2 31.866
1915 Oil CO2 197.104
1915 Flaring CO2 0.0
1915 Other Industry CO2 2.421
1916 Cement CO2 0.181
1916 Coal CO2 3129.373
1916 Gas CO2 38.377
1916 Oil CO2 214.632
1916 Flaring CO2 0.0
1916 Other Industry CO2 2.714
1917 Cement CO2 0.148
1917 Coal CO2 3257.893
1917 Gas CO2 40.509
1917 Oil CO2 238.808
1917 Flaring CO2 0.0
1917 Other Industry CO2 2.494
1918 Cement CO2 0.12
1918 Coal CO2 3209.469
1918 Gas CO2 36.519
1918 Oil CO2 244.605
1918 Flaring CO2 0.0
1918 Other Industry CO2 2.127
1919 Cement CO2 0.125
1919 Coal CO2 2715.321
1919 Gas CO2 37.948
1919 Oil CO2 272.966
1919 Flaring CO2 0.0
1919 Other Industry CO2 2.201
1920 Cement CO2 0.149
1920 Coal CO2 3125.927
1920 Gas CO2 41.685
1920 Oil CO2 350.954
1920 Flaring CO2 0.0
1920 Other Industry CO2 2.347
1921 Cement CO2 0.13
1921 Coal CO2 2668.397
1921 Gas CO2 34.992
1921 Oil CO2 384.258
1921 Flaring CO2 0.0
1921 Other Industry CO2 1.687
1922 Cement CO2 0.193
1922 Coal CO2 2770.67
1922 Gas CO2 40.107
1922 Oil CO2 426.345
1922 Flaring CO2 0.0
1922 Other Industry CO2 2.421
1923 Cement CO2 0.208
1923 Coal CO2 3146.423
1923 Gas CO2 52.526
1923 Oil CO2 473.527
1923 Flaring CO2 0.0
1923 Other Industry CO2 2.714
1924 Cement CO2 0.216
1924 Coal CO2 3152.649
1924 Gas CO2 59.709
1924 Oil CO2 470.812
1924 Flaring CO2 0.0
1924 Other Industry CO2 2.714
1925 Cement CO2 14.429
1925 Coal CO2 3151.418
1925 Gas CO2 63.922
1925 Oil CO2 492.787
1925 Flaring CO2 0.0
1925 Other Industry CO2 3.081
1926 Cement CO2 14.74
1926 Coal CO2 3081.757
1926 Gas CO2 69.144
1926 Oil CO2 490.648
1926 Flaring CO2 0.0
1926 Other Industry CO2 3.007
1927 Cement CO2 15.448
1927 Coal CO2 3361.539
1927 Gas CO2 76.017
1927 Oil CO2 537.816
1927 Flaring CO2 0.0
1927 Other Industry CO2 2.934
1928 Cement CO2 35.616
1928 Coal CO2 3305.359
1928 Gas CO2 82.623
1928 Oil CO2 549.539
1928 Flaring CO2 0.0
1928 Other Industry CO2 2.934
1929 Cement CO2 36.873
1929 Coal CO2 3522.251
1929 Gas CO2 102.894
1929 Oil CO2 602.778
1929 Flaring CO2 0.0
1929 Other Industry CO2 2.861
1930 Cement CO2 35.561
1930 Coal CO2 3214.073
1930 Gas CO2 104.224
1930 Oil CO2 578.598
1930 Flaring CO2 0.0
1930 Other Industry CO2 2.274
1931 Cement CO2 30.931
1931 Coal CO2 2830.54
1931 Gas CO2 92.887
1931 Oil CO2 560.749
1931 Flaring CO2 0.0
1931 Other Industry CO2 1.834
1932 Cement CO2 24.721
1932 Coal CO2 2519.949
1932 Gas CO2 88.218
1932 Oil CO2 536.592
1932 Flaring CO2 0.0
1932 Other Industry CO2 1.32
1933 Cement CO2 23.866
1933 Coal CO2 2635.637
1933 Gas CO2 90.917
1933 Oil CO2 586.389
1933 Flaring CO2 0.0
1933 Other Industry CO2 1.54
1934 Cement CO2 28.542
1934 Coal CO2 2878.248
1934 Gas CO2 101.949
1934 Oil CO2 620.413
1934 Flaring CO2 0.0
1934 Other Industry CO2 1.614
1935 Cement CO2 32.09
1935 Coal CO2 2996.885
1935 Gas CO2 111.372
1935 Oil CO2 668.785
1935 Flaring CO2 0.0
1935 Other Industry CO2 1.98
1936 Cement CO2 38.763
1936 Coal CO2 3285.172
1936 Gas CO2 125.529
1936 Oil CO2 729.131
1936 Flaring CO2 0.0
1936 Other Industry CO2 2.494
1937 Cement CO2 40.829
1937 Coal CO2 3463.736
1937 Gas CO2 140.574
1937 Oil CO2 821.516
1937 Flaring CO2 0.0
1937 Other Industry CO2 2.714
1938 Cement CO2 38.551
1938 Coal CO2 3228.046
1938 Gas CO2 135.493
1938 Oil CO2 796.989
1938 Flaring CO2 0.0
1938 Other Industry CO2 2.201
1939 Cement CO2 35.687
1939 Coal CO2 3435.326
1939 Gas CO2 141.328
1939 Oil CO2 830.241
1939 Flaring CO2 0.0
1939 Other Industry CO2 2.861
1940 Cement CO2 31.431
1940 Coal CO2 3794.017
1940 Gas CO2 153.515
1940 Oil CO2 872.467
1940 Flaring CO2 0.0
1940 Other Industry CO2 3.227
1941 Cement CO2 43.293
1941 Coal CO2 3884.161
1941 Gas CO2 153.463
1941 Oil CO2 880.697
1941 Flaring CO2 0.0
1941 Other Industry CO2 4.034
1942 Cement CO2 38.376
1942 Coal CO2 3909.448
1942 Gas CO2 166.049
1942 Oil CO2 835.716
1942 Flaring CO2 0.0
1942 Other Industry CO2 4.034
1943 Cement CO2 34.81
1943 Coal CO2 3925.039
1943 Gas CO2 182.9
1943 Oil CO2 888.001
1943 Flaring CO2 0.0
1943 Other Industry CO2 4.328
1944 Cement CO2 22.664
1944 Coal CO2 3867.923
1944 Gas CO2 197.601
1944 Oil CO2 1018.141
1944 Flaring CO2 0.0
1944 Other Industry CO2 4.328
1945 Cement CO2 22.991
1945 Coal CO2 2998.27
1945 Gas CO2 216.697
1945 Oil CO2 1008.345
1945 Flaring CO2 0.0
1945 Other Industry CO2 3.961
1946 Cement CO2 36.33
1946 Coal CO2 3234.314
1946 Gas CO2 223.834
1946 Oil CO2 1139.899
1946 Flaring CO2 0.0
1946 Other Industry CO2 3.961
1947 Cement CO2 43.192
1947 Coal CO2 3621.548
1947 Gas CO2 247.888
1947 Oil CO2 1221.313
1947 Flaring CO2 0.0
1947 Other Industry CO2 4.548
1948 Cement CO2 51.684
1948 Coal CO2 3739.455
1948 Gas CO2 280.122
1948 Oil CO2 1339.607
1948 Flaring CO2 0.0
1948 Other Industry CO2 4.841
1949 Cement CO2 58.264
1949 Coal CO2 3546.31
1949 Gas CO2 300.454
1949 Oil CO2 1336.641
1949 Flaring CO2 0.0
1949 Other Industry CO2 4.181
1950 Cement CO2 66.979
1950 Coal CO2 3856.215
1950 Gas CO2 353.156
1950 Oil CO2 1648.31
1950 Flaring CO2 73.624
1950 Other Industry CO2 4.988
1951 Cement CO2 75.839
1951 Coal CO2 4060.04
1951 Gas CO2 416.186
1951 Oil CO2 1742.354
1951 Flaring CO2 79.875
1951 Other Industry CO2 5.501
1952 Cement CO2 80.841
1952 Coal CO2 4009.059
1952 Gas CO2 447.085
1952 Oil CO2 1838.024
1952 Flaring CO2 85.364
1952 Other Industry CO2 5.355
1953 Cement CO2 89.628
1953 Coal CO2 4043.705
1953 Gas CO2 474.527
1953 Oil CO2 1952.1
1953 Flaring CO2 81.348
1953 Other Industry CO2 6.455
1954 Cement CO2 97.231
1954 Coal CO2 4039.512
1954 Gas CO2 501.35
1954 Oil CO2 2068.543
1954 Flaring CO2 77.612
1954 Other Industry CO2 5.721
1955 Cement CO2 107.566
1955 Coal CO2 4372.781
1955 Gas CO2 547.229
1955 Oil CO2 2311.864
1955 Flaring CO2 96.836
1955 Other Industry CO2 6.968
1956 Cement CO2 116.624
1956 Coal CO2 4597.137
1956 Gas CO2 587.229
1956 Oil CO2 2508.048
1956 Flaring CO2 108.174
1956 Other Industry CO2 7.042
1957 Cement CO2 122.61
1957 Coal CO2 4681.798
1957 Gas CO2 646.666
1957 Oil CO2 2621.266
1957 Flaring CO2 106.386
1957 Other Industry CO2 6.822
1958 Cement CO2 129.775
1958 Coal CO2 4754.382
1958 Gas CO2 705.825
1958 Oil CO2 2726.365
1958 Flaring CO2 95.115
1958 Other Industry CO2 6.161
1959 Cement CO2 145.336
1959 Coal CO2 4948.027
1959 Gas CO2 758.226
1959 Oil CO2 2904.649
1959 Flaring CO2 91.694
1959 Other Industry CO2 8.289
1960 Cement CO2 157.493
1960 Coal CO2 5152.558
1960 Gas CO2 834.527
1960 Oil CO2 3126.444
1960 Flaring CO2 89.14
1960 Other Industry CO2 27.507
1961 Cement CO2 164.229
1961 Coal CO2 4943.284
1961 Gas CO2 882.007
1961 Oil CO2 3313.503
1961 Flaring CO2 86.218
1961 Other Industry CO2 29.219
1962 Cement CO2 176.443
1962 Coal CO2 4928.785
1962 Gas CO2 967.683
1962 Oil CO2 3561.94
1962 Flaring CO2 85.931
1962 Other Industry CO2 30.277
1963 Cement CO2 186.06
1963 Coal CO2 5109.542
1963 Gas CO2 1046.822
1963 Oil CO2 3806.973
1963 Flaring CO2 90.506
1963 Other Industry CO2 31.751
1964 Cement CO2 206.22
1964 Coal CO2 5215.19
1964 Gas CO2 1152.86
1964 Oil CO2 4107.569
1964 Flaring CO2 112.792
1964 Other Industry CO2 34.98
1965 Cement CO2 216.49
1965 Coal CO2 5293.218
1965 Gas CO2 1230.538
1965 Oil CO2 4412.375
1965 Flaring CO2 130.443
1965 Other Industry CO2 34.532
1966 Cement CO2 233.053
1966 Coal CO2 5351.301
1966 Gas CO2 1339.839
1966 Oil CO2 4761.953
1966 Flaring CO2 144.566
1966 Other Industry CO2 36.221
1967 Cement CO2 239.908
1967 Coal CO2 5266.113
1967 Gas CO2 1432.946
1967 Oil CO2 5077.08
1967 Flaring CO2 190.783
1967 Other Industry CO2 37.2
1968 Cement CO2 255.398
1968 Coal CO2 5323.236
1968 Gas CO2 1559.571
1968 Oil CO2 5530.292
1968 Flaring CO2 203.8
1968 Other Industry CO2 38.593
1969 Cement CO2 270.791
1969 Coal CO2 5521.839
1969 Gas CO2 1708.518
1969 Oil CO2 5980.509

1969 Flaring CO2 244.035
1969 Other Industry CO2 41.708
1970 Cement CO2 288.411
1970 Coal CO2 5696.271
1970 Gas CO2 1790.679
1970 Oil CO2 6801.259
1970 Flaring CO2 277.745
1970 Other Industry CO2 44.35
1971 Cement CO2 303.345
1971 Coal CO2 5699.823
1971 Gas CO2 1933.313
1971 Oil CO2 7202.926
1971 Flaring CO2 321.427
1971 Other Industry CO2 44.661
1972 Cement CO2 321.547
1972 Coal CO2 5693.585
1972 Gas CO2 2052.041
1972 Oil CO2 7766.614
1972 Flaring CO2 346.87
1972 Other Industry CO2 48.072
1973 Cement CO2 340.512
1973 Coal CO2 5862.085
1973 Gas CO2 2203.89
1973 Oil CO2 8225.938
1973 Flaring CO2 402.142
1973 Other Industry CO2 51.627
1974 Cement CO2 341.033
1974 Coal CO2 5865.81
1974 Gas CO2 2258.999
1974 Oil CO2 8107.899
1974 Flaring CO2 391.347
1974 Other Industry CO2 52.388
1975 Cement CO2 339.117
1975 Coal CO2 6037.091
1975 Gas CO2 2255.543
1975 Oil CO2 8039.023
1975 Flaring CO2 336.685
1975 Other Industry CO2 47.169
1976 Cement CO2 354.146
1976 Coal CO2 6263.989
1976 Gas CO2 2386.85
1976 Oil CO2 8541.493
1976 Flaring CO2 395.391
1976 Other Industry CO2 50.017
1977 Cement CO2 370.868
1977 Coal CO2 6417.698
1977 Gas CO2 2441.085
1977 Oil CO2 8842.06
1977 Flaring CO2 381.443
1977 Other Industry CO2 49.692
1978 Cement CO2 394.692
1978 Coal CO2 6531.792
1978 Gas CO2 2550.346
1978 Oil CO2 9159.137
1978 Flaring CO2 390.15
1978 Other Industry CO2 51.076
1979 Cement CO2 399.877
1979 Coal CO2 6840.287
1979 Gas CO2 2688.997
1979 Oil CO2 9276.707
1979 Flaring CO2 360.13
1979 Other Industry CO2 52.464
1980 Cement CO2 402.62
1980 Coal CO2 7024.129
1980 Gas CO2 2758.101
1980 Oil CO2 8951.775
1980 Flaring CO2 316.436
1980 Other Industry CO2 48.202
1981 Cement CO2 402.748
1981 Coal CO2 7004.883
1981 Gas CO2 2794.347
1981 Oil CO2 8550.305
1981 Flaring CO2 237.163
1981 Other Industry CO2 46.672
1982 Cement CO2 400.937
1982 Coal CO2 7126.512
1982 Gas CO2 2731.273
1982 Oil CO2 8345.176
1982 Flaring CO2 235.575
1982 Other Industry CO2 45.013
1983 Cement CO2 409.877
1983 Coal CO2 7314.19
1983 Gas CO2 2760.542
1983 Oil CO2 8260.815
1983 Flaring CO2 212.847
1983 Other Industry CO2 48.269
1984 Cement CO2 417.703
1984 Coal CO2 7668.797
1984 Gas CO2 3010.426
1984 Oil CO2 8328.841
1984 Flaring CO2 186.751
1984 Other Industry CO2 52.236
1985 Cement CO2 422.772
1985 Coal CO2 8217.823
1985 Gas CO2 3121.401
1985 Oil CO2 8326.771
1985 Flaring CO2 181.447
1985 Other Industry CO2 55.272
1986 Cement CO2 440.349
1986 Coal CO2 8335.814
1986 Gas CO2 3045.544
1986 Oil CO2 8576.334
1986 Flaring CO2 169.668
1986 Other Industry CO2 59.649
1987 Cement CO2 459.192
1987 Coal CO2 8617.361
1987 Gas CO2 3305.28
1987 Oil CO2 8654.659
1987 Flaring CO2 163.007
1987 Other Industry CO2 74.406
1988 Cement CO2 483.609
1988 Coal CO2 8910.819
1988 Gas CO2 3466.022
1988 Oil CO2 8972.672
1988 Flaring CO2 185.509
1988 Other Industry CO2 89.163
1989 Cement CO2 493.5
1989 Coal CO2 8909.616
1989 Gas CO2 3639.817
1989 Oil CO2 9130.08
1989 Flaring CO2 150.68
1989 Other Industry CO2 86.709
1990 Cement CO2 493.854
1990 Coal CO2 8688.659
1990 Gas CO2 3833.133
1990 Oil CO2 9249.362
1990 Flaring CO2 267.859
1990 Other Industry CO2 224.611
1991 Cement CO2 507.751
1991 Coal CO2 8604.035
1991 Gas CO2 3909.677
1991 Oil CO2 9723.43
1991 Flaring CO2 282.965
1991 Other Industry CO2 216.948
1992 Cement CO2 528.942
1992 Coal CO2 8399.007
1992 Gas CO2 3958.12
1992 Oil CO2 9226.139
1992 Flaring CO2 250.482
1992 Other Industry CO2 217.334
1993 Cement CO2 551.512
1993 Coal CO2 8500.946
1993 Gas CO2 4067.061
1993 Oil CO2 9232.772
1993 Flaring CO2 244.056
1993 Other Industry CO2 216.552
1994 Cement CO2 588.461
1994 Coal CO2 8548.629
1994 Gas CO2 4102.083
1994 Oil CO2 9265.657
1994 Flaring CO2 248.054
1994 Other Industry CO2 216.615
1995 Cement CO2 622.443
1995 Coal CO2 8793.981
1995 Gas CO2 4209.968
1995 Oil CO2 9363.846
1995 Flaring CO2 244.935
1995 Other Industry CO2 223.54
1996 Cement CO2 635.312
1996 Coal CO2 9015.794
1996 Gas CO2 4395.992
1996 Oil CO2 9643.209
1996 Flaring CO2 247.175
1996 Other Industry CO2 221.901
1997 Cement CO2 661.232
1997 Coal CO2 8967.54
1997 Gas CO2 4412.478
1997 Oil CO2 9786.86
1997 Flaring CO2 250.794
1997 Other Industry CO2 223.678
1998 Cement CO2 658.611
1998 Coal CO2 8725.984
1998 Gas CO2 4484.475
1998 Oil CO2 9883.467
1998 Flaring CO2 240.252
1998 Other Industry CO2 220.47
1999 Cement CO2 691.01
1999 Coal CO2 8855.188
1999 Gas CO2 4621.802
1999 Oil CO2 10112.427
1999 Flaring CO2 232.748
1999 Other Industry CO2 219.213
2000 Cement CO2 721.927
2000 Coal CO2 9203.117
2000 Gas CO2 4731.291
2000 Oil CO2 10302.091
2000 Flaring CO2 278.928
2000 Other Industry CO2 216.267
2001 Cement CO2 754.332
2001 Coal CO2 9255.257
2001 Gas CO2 4773.585
2001 Oil CO2 10390.669
2001 Flaring CO2 281.128
2001 Other Industry CO2 213.078
2002 Cement CO2 796.052
2002 Coal CO2 9678.959
2002 Gas CO2 4905.854
2002 Oil CO2 10385.864
2002 Flaring CO2 298.554
2002 Other Industry CO2 215.754
2003 Cement CO2 852.253
2003 Coal CO2 10518.464
2003 Gas CO2 5081.468
2003 Oil CO2 10679.654
2003 Flaring CO2 299.376
2003 Other Industry CO2 220.382
2004 Cement CO2 910.566
2004 Coal CO2 10871.584
2004 Gas CO2 5257.19
2004 Oil CO2 11042.505
2004 Flaring CO2 323.803
2004 Other Industry CO2 231.047
2005 Cement CO2 964.306
2005 Coal CO2 11543.335
2005 Gas CO2 5380.666
2005 Oil CO2 11139.399
2005 Flaring CO2 345.094
2005 Other Industry CO2 241.802
2006 Cement CO2 1051.669
2006 Coal CO2 12188.84
2006 Gas CO2 5506.809
2006 Oil CO2 11246.321
2006 Flaring CO2 346.86
2006 Other Industry CO2 252.617
2007 Cement CO2 1129.389
2007 Coal CO2 12776.36
2007 Gas CO2 5694.134
2007 Oil CO2 11283.665
2007 Flaring CO2 363.985
2007 Other Industry CO2 259.255
2008 Cement CO2 1143.738
2008 Coal CO2 13192.797
2008 Gas CO2 5864.291
2008 Oil CO2 11251.325
2008 Flaring CO2 374.074
2008 Other Industry CO2 259.611
2009 Cement CO2 1175.73
2009 Coal CO2 13016.428
2009 Gas CO2 5751.954
2009 Oil CO2 10996.948
2009 Flaring CO2 379.402
2009 Other Industry CO2 243.568
2010 Cement CO2 1254.878
2010 Coal CO2 13926.621
2010 Gas CO2 6195.344
2010 Oil CO2 11359.883
2010 Flaring CO2 381.65
2010 Other Industry CO2 245.971
2011 Cement CO2 1349.8
2011 Coal CO2 14737.126
2011 Gas CO2 6366.902
2011 Oil CO2 11388.086
2011 Flaring CO2 370.28
2011 Other Industry CO2 274.819
2012 Cement CO2 1384.57
2012 Coal CO2 14922.76
2012 Gas CO2 6500.594
2012 Oil CO2 11541.707
2012 Flaring CO2 380.351
2012 Other Industry CO2 276.285
2013 Cement CO2 1444.086
2013 Coal CO2 15024.486
2013 Gas CO2 6542.527
2013 Oil CO2 11626.445
2013 Flaring CO2 387.535
2013 Other Industry CO2 294.121
2014 Cement CO2 1499.912
2014 Coal CO2 15051.513
2014 Gas CO2 6654.555
2014 Oil CO2 11678.782
2014 Flaring CO2 387.902
2014 Other Industry CO2 304.87
2015 Cement CO2 1444.436
2015 Coal CO2 14710.088
2015 Gas CO2 6788.074
2015 Oil CO2 11929.665
2015 Flaring CO2 383.534
2015 Other Industry CO2 302.769
2016 Cement CO2 1487.617
2016 Coal CO2 14360.605
2016 Gas CO2 6973.649
2016 Oil CO2 12023.833
2016 Flaring CO2 378.385
2016 Other Industry CO2 300.104
2017 Cement CO2 1507.923
2017 Coal CO2 14506.974
2017 Gas CO2 7144.928
2017 Oil CO2 12242.628
2017 Flaring CO2 391.992
2017 Other Industry CO2 302.294
2018 Cement CO2 1569.218
2018 Coal CO2 14746.831
2018 Gas CO2 7529.847
2018 Oil CO2 12266.017
2018 Flaring CO2 412.116
2018 Other Industry CO2 302.479
2019 Cement CO2 1617.507
2019 Coal CO2 14725.978
2019 Gas CO2 7647.528
2019 Oil CO2 12345.653
2019 Flaring CO2 439.254
2019 Other Industry CO2 306.639
2020 Cement CO2 1637.537
2020 Coal CO2 14174.564
2020 Gas CO2 7556.29
2020 Oil CO2 11191.809
2020 Flaring CO2 407.584
2020 Other Industry CO2 296.302
2021 Cement CO2 1672.592
2021 Coal CO2 14979.598
2021 Gas CO2 7921.83
2021 Oil CO2 11837.159
2021 Flaring CO2 416.526
2021 Other Industry CO2 296.146

In [90]:
bar_world_co2 = pd.DataFrame({
    'Year':years,
    'Factor':factors,
    'Value':values
})
bar_world_co2

      Year              Factor      Value
0     1750          Cement CO2      0.000
1     1750            Coal CO2      9.351
2     1750             Gas CO2      0.000
3     1750             Oil CO2      0.000
4     1750         Flaring CO2      0.000
...    ...                 ...        ...
1627  2021            Coal CO2  14979.598
1628  2021             Gas CO2   7921.830
1629  2021             Oil CO2  11837.159
1630  2021         Flaring CO2    416.526
1631  2021  Other Industry CO2    296.146

[1632 rows x 3 columns]

Global temperature anomaly in the world - annual basis

In [60]:
global_temp = global_temp.rename(columns = {'Entity':'Name', 'Temperature anomaly' : 'Temp Anomaly'})

In [61]:
global_temp

      Name  Year  Temp Anomaly
0    World  1880     -0.166667
1    World  1881     -0.082500
2    World  1882     -0.110000
3    World  1883     -0.174167
4    World  1884     -0.280000
..     ...   ...           ...
139  World  2019      0.976667
140  World  2020      1.017500
141  World  2021      0.844167
142  World  2022      0.891667
143  World  2023      0.915000

[144 rows x 3 columns]

### Exporting the datasets

Run the code below to export the datasets in the local folder

In [91]:
total_ghg_country.to_csv('rendered/factors/total_ghg_country.csv', index=False)
perCapita_ghg_country.to_csv('rendered/factors/perCapita_ghg_country.csv', index=False)
weather_related_dis.to_csv('rendered/effects/weather_related_dis.csv', index=False)
bar_world_co2.to_csv('rendered/factors/world_co2.csv', index=False)
global_temp.to_csv('rendered/factors/global_temp.csv', index=False)